@{
    ViewData["Title"] = "Home Page";
}

<section class="parte-index">
    <div>
        <h1>Nehuentados</h1>
        <a asp-action="ConfigurarJuego">
            <img class="logo" src="/img/logo jugar.png">
            <img class="adentro-logo" src="/img/INTERNO2.png">
        </a>
    </div>
</section>