@{
    ViewData["Title"] = "Home Page";
}

<section class="parte-index">
    <div>
        <h1>Nehuentados</h1>
        <a asp-action="ConfigurarJuego">
            <div class="logo">
                <img class="base-logo" src="/img/logo jugar.png">
                <img class="adentro-logo" src="/img/INTERNO.png">
            </div>
        </a>
    </div>
</section>