@{
    ViewData["Title"] = "Home Page";
}

<section class="parte-index">
    <div>
        <h1>Nehuentados</h1>
        <a class="a-logo" asp-action="ConfigurarJuego">
            <div class="logo">
                <img class="adentro-logo" src="/img/INTERNO2.png">
            </div>
        </a>
        <a class="boton-logout" asp-action="logout" asp-controller="Home">Cerrar Sesión</a>
    </div>
</section>