@{
    ViewData["Title"] = "Home Page";
}

<section class="parte-index">
    <div>
        <h1>Nehuentados</h1>
        <a class="a-logo" asp-action="ConfigurarJuego">
            <img class="logo" src="/img/logo jugar.png">
            <img class="adentro-logo" src="/img/INTERNO2.png">
        </a>
        <a class="boton-logout" asp-action="logout" asp-controller="Home">Cerrar Sesión</a>
        <a class="boton-logout boton-fotoperfil" asp-action="setearFotoPerfil" asp-controller = "Home"> Cambiar foto de perfil </a>
    </div>
</section>