@{
    ViewData["Title"] = "Home Page";

    if(ViewBag.logeado)
    {
        <meta http-equiv="refresh" content='0; url=@Url.Action("Home", "Home")'/>
    }
}

<main class="pagina-login-register">
<section class="seccion-login"> 
    <div class="container">
        <h1>Logearse</h1>
        <form action='@Url.Action("LogearUsuario", "Home")' method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="mail" required>
                <label for="floatingInput">Mail</label>
            </div> 
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingInput" autocomplete="off" placeholder="" name="contra" required>
                <label for="floatingInput">Contraseña</label>
            </div>
            @Html.Raw(ViewBag.error)
            <button type="submit" class="login-boton">Logearse</button>
            <p>¿No tenés cuenta? <a href='@Url.Action("register","Home")'>Creá una</a>
        </form>
    </div>
</section>
</main>