@{
    ViewData["Title"] = "Home Page";
}

<main class="parte-juego" >
<section class="pregunta-respuesta">

<div class="contenedor-tiempo">
    <div id="barra-tiempo" ></div> <!---barra tiempo--->
    <p id="timer"></p>
</div>
<h1 class="titulo-pregunta">Esta es una pregunta que preguntea a los preguntados de este juego</h1>
<img class=" " src="">
<div class="respuestas">
@{
    for(int i=0;i<4;i++){
    <a asp-action="VerificarRespuesta" asp-controller="Home" asp-route-opcion=@i>Respuesta @i</a>
    }
}
</div>

<div class="contenedor-ftcategoria">
    <img src='@ViewBag.fotoCategoria'>
</div>

<section>

</main>


<script src="/js/pregunta.js" onload="setearTiempo(10)">

<script>
document.addEventListener('DOMContentLoaded', function()){
    $.ajax({
        url: '/home/',
        data: {},
        type: 'POST',
        dataType: 'json',
        success: function(){

        },
        error function(){

        },
        complete: function(){

        }
    })
}
</script>