@{
    ViewData["Title"] = "Home Page";
}

<main class="parte-juego" >
<section class="pregunta-respuesta">

<div class="contenedor-tiempo">
    <div id="barra-tiempo" ></div> <!---barra tiempo--->
    <p id="timer"></p>
</div>

<h1 class="titulo-pregunta">@ViewBag.Pregunta.Enunciado</h1>
<img class="" src="#">
<div class="respuestas">
@{
    for(int i=0;i<4;i++){
    <a asp-action="VerificarRespuesta" asp-controller="Home" asp-route-pregunta="@ViewBag.Pregunta" asp-route-opcion="@i">@ViewBag.Respuestas[i].Contenido</a>
    }
}
</div>



<section>

</main>

<script src="/js/pregunta.js" onload="setearTiempo(10)">

