@{
    ViewData["Title"] = "Home Page";
}

<main class="parte-juego" >
<section class="pregunta-respuesta">


<h1 class="titulo-pregunta">@ViewBag.Pregunta.Enunciado</h1>
<img class="" src="#">
<div class="respuestas">
@{
    for(int i=1;i<=4;i++){
        if(i!=ViewBag.Opcion&&ViewBag.IsCorrect==true){
            <a class="correcto">@ViewBag.Respuestas[i].Contenido</a>
        } else if (i!=ViewBag.Opcion&&ViewBag.IsCorrect==false){
            <a class="incorrecto">@ViewBag.Respuestas[i].Contenido</a>
        } else{
            <a>@ViewBag.Respuestas[i].Contenido</a>
        }
    }
}
</div>
<div>
    <a id="boton-continuar">Continuar (5)</a>
</div>



<section>

</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let boton = document.getElementById('boton-continuar');
        let tiempo = 5; 
        let tiempoRestante = totalTime;
        
        let countdown = setInterval(function() {
            tiempoRestante--;
            boton.innerText = "Continuar ("+tiempoRestante+")";
    
            if (remainingTime <= 0) {
                clearInterval(countdown);
                 window.location.href='/Home/Ruleta';
                
            }
        }, 1000);
      });
</script>
