@{
    ViewData["Title"] = "Ruleta";
}


<div class="wheel-container">
         <img src="ruleta.png" alt="Ruleta" id="wheel" class="wheel">
     </div>
     <button id="spin">Girar Ruleta</button>
 
     <script src="script.js"></script>