@{
    ViewData["Title"] = "Ruleta";
}

<section class="pag-ruleta">
<div class="arriba-ruleta">

<div class="desc-pers">
    <div class="foto-nombre">
        <img class="foto-perfil" src="/FotosPerfil/fotoDefault.png">
        <h3>Juancito megirola</h3>
    </div>

</div>

<div class="desc-pers">
</div>

</div>
<div class="wheel-container">
         <img src="/img/ruleta bien.png" alt="Ruleta" id="wheel" class="wheel">
         <img id="spin" class="ruleta-centro" src="/img/ruleta centro.png">
     </div>
 </section>
     <script src="/js/ruleta.js"></script>
