@{
    ViewData["Title"] = "Home Page";
}

<main class="pagina-login-register">
<h1 class="titulo">Nehuentados</h1>
<section class="seccion-configurar">
    <div class="container">
        <h1>Jugadores</h1>
        <div class="contenedor-jugadores">
            <p></p>
            <p></p>
        </div>
        @if(ViewBag.jugador.IdJugador == 1) 
        {
            <button class="login-boton" style="margin-top: 4%" id="boton-iniciar">Iniciar</button>
        }
    </div>
</section>
<h1 class="codigo">Código: @ViewBag.idPartida</h1>
</main>

<script>

let buclenombre, bubleinicio;
let boton = document.getElementById("boton-iniciar");
document.addEventListener('DOMContentLoaded', function() {
                ChequearNombres();
                buclenombre=setInterval(ChequearNombres,5000);
                if(@ViewBag.jugador.IdJugador==0){
                bucleinicio=setInterval(ChequearInicio,1000);
                }else{
                    boton.addEventListener("click", function (){
                    window.location.href='/Home/EmpezarPartida?host="si"';
        })
                }
        });
        
        

    function ChequearNombres(){
        $.ajax({
                    url: '@Url.Action("ObtenerNombreJugador", "Home")',
                    type: 'GET',
                    data: {},
                    success: function (data) {
                        $('.contenedor-jugadores').empty(); // Limpiar el div antes de agregar
                        $('.contenedor-jugadores').append('<p>' + data.jug1 + '</p>');
                        $('.contenedor-jugadores').append('<p>' + data.jug2 + '</p>');
                    },
                    error: function () {
                        alert('Error al agregar el jugador.');
                    }
                });
    }
    function ChequearInicio(){
        $.ajax({
                    url: '@Url.Action("YaEmpezoLaPartida", "Home")',
                    type: 'GET',
                    data: {},
                    success: function (data) {
                        if(data.Empezo){
                            if(data.IdJugador=0){
                                window.location.href='/Home/CuentaAtras?host="no"';
                            }
                        }
                    },
                    error: function () {
                        alert('Error al chequear si inició');
                    }
                });
    }
</script>