@{
    ViewData["Title"] = "Home Page";
}

<main class="pagina-login-register">
<h1 class="titulo">Nehuentados</h1>
<section class="seccion-configurar">
    <div class="container">
        <h1>Jugadores</h1>
        <div class="contenedor-jugadores"></div>
        @if(ViewBag.jugador.IdJugador == 1) 
        {
            <button class="login-boton" style="margin-top: 4%" onclick="Jugar()">Iniciar</button>
        }
    </div>
</section>
<h1 class="codigo">Código: @ViewBag.idPartida</h1>
</main>

<script>

let bucle;
document.addEventListener('DOMContentLoaded', function() {
                ChequearNombres();
                bucle=setInterval(ChequearNombres,3000);
        });

    function ChequearNombres(){
        $.ajax({
                    url: '@Url.Action("ObtenerNombreJugador", "Home")',
                    type: 'GET',
                    data: {},
                    success: function (data) {
                        $('.contenedor-jugadores').empty(); // Limpiar el div antes de agregar
                        $('.contenedor-jugadores').append('<div><p>' + data.jug1 + '</p></div>');
                        if(data.jug2 != "")
                        {
                            $('.contenedor-jugadores').append('<div><p>' + data.jug2 + '</p></div>');
                        }
                    },
                    error: function () {
                        alert('Error al agregar el jugador.');
                    }
                });
    }
</script>