@{
    ViewData["Title"] = "Home Page";
}

<main class="pagina-login-register">
    <section class="seccion-login">
    <div class="container">
        <h1>Actualizar la foto de perfil</h1>
        <img src = "@ViewBag.FotoPerfil" id = "nuevaFotoPerfil" style = "height: 200px; width: 200px;margin-bottom: 10px; border-radius: 50%;" class="position-relative 0 start-50 translate-middle-x">
        <form action='@Url.Action("ActualizarFotoPerfil", "Home")' method="post" enctype="multipart/form-data">
        <div class="input-group">
            <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="archivo">
        </div>
            @Html.Raw(ViewBag.error)
            <button type="submit" class="login-boton">Actualizar</button>
        </form>
    </div>
    </section>
</main>

<script>
    const foto = document.getElementById("nuevaFotoPerfil");
    const inputFile = document.getElementById("inputGroupFile04");

    inputFile.addEventListener("change", function () {
        const file = this.files[0]; 

        if (file) {
            const reader = new FileReader(); 

            reader.onload = function (e) {
                foto.src = e.target.result; 
            };

            reader.readAsDataURL(file); 
        }
    });
</script>